<app-metrics-tabs
  [activeTab]="selectedTab().tab"
  (tabSelected)="setActiveTab($event)"
></app-metrics-tabs>
<div class="container">
  @if(isLoading() && selectedTab().tab !== 'top'){
  <div class="metrics-content">
    <div class="mt-3 p-2">
      <app-shared-table
        [tableData]="monthlyStats()"
        [tableHeaders]="selectedTab().tableHeaders"
      />
    </div>
  </div>
  } @else if(isLoading() && selectedTab().tab === 'top'){
  <div class="mb-3">
    <h3 class="mb-2">
      Топ-10 користувачів з найбільшим співвідношенням суми сплачених відсотків
      до суми виданих кредитів для повернених кредитів.
    </h3>
    <app-shared-table
      [tableData]="topUsersByRatio()"
      [tableHeaders]="headers.ratio"
    />
  </div>
  <div class="mb-3">
    <h3 class="mb-2">Топ-10 користувачів за сумою сплачених відсотків</h3>
    <app-shared-table
      [tableData]="topUsersByInterest()"
      [tableHeaders]="headers.interest"
    />
  </div>
  <div class="mb-3">
    <h3 class="mb-2">Топ-10 користувачів за кількістю отриманих кредитів</h3>
    <app-shared-table
      [tableData]="topUsersByLoan()"
      [tableHeaders]="headers.loans"
    />
  </div>
  } @else{
  <div class="text-center p-3">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Загрузка...</span>
    </div>
  </div>
  }
</div>
